.login-container {
    display: flex;
    justify-content: center;
    background-color: #525252;
    padding: 17px 12px 17px 12px;
}

.login-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 298px;
    height: 464px;
    background-color: #6C6C6C;;
}

.login-card h1 {
    line-height: 49px;
}

.input-login-container-email {
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-login-container-email input {
    border-radius: 4px;
    color: #FEFEFE;
    Width: 264.14px;
    Height: 47px;
    
}

.input-login-container-password {
    margin-bottom: 54px;
}

.input-login-container-password input {
    border-radius: 4px;
    color: #FEFEFE;
    Width: 264.14px;
    Height: 47px;
}

.login-submit {
    display: flex;
    justify-content: center;
}

.login-submit button {
    Width: 264.14px;
    Height: 50px;
    border-radius: 4px;
}