.navbar-container {
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFC700;
}

.navbar-container h2 {
    margin-left: 10px;
    font-weight: 700;
}

.nav-logout {
    margin-right: 10px;
}

.nav-logout button  {
    border: 1px solid #000000;
    border-radius: 10px;
    Width:100px;
    Height: 30px;
    background-color: #FFC700;
    font-weight: 700;
    font-size: 14px;
}

@media(min-width: 576px) {

    .navbar-container h2 {
        margin-left: 23px;
    }
    .nav-logout {
        margin-right: 20px; 
    }
}

@media(min-width: 768px) {

    .navbar-container h2 {
        margin-left: 18px;
    }

    .nav-logout {
        margin-right: 40px; 
    }
}

@media(min-width: 992px) {
    .nav-logout {
        margin-right: 252px; 
    }
}

@media(min-width: 1200px) {

    .navbar-container h2 {
        margin-left: 40px;
    }
    
    .nav-logout {
        margin-right: 40px; 
    }
}

@media(min-width: 1400px) {
    .nav-logout {
        margin-right: 233px; 
    }
}
