/* Movie List Page */
.movie-list-page {
  background-color: #525252;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.invisible-card {
  opacity: 0;
  pointer-events: none;
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Filter Search */
.filter-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 60px;
  background-color: #6c6c6c;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

/* Filter Search Select */
.filter-search-select__clear-indicator,
.filter-search-select__dropdown-indicator {
  color: #ffffff !important;
}

.filter-search-select__control {
  width: 260px;
  height: 50px;
  border-radius: 4px;
  background-color: #6c6c6c !important;
  color: #fff !important;
}

.filter-search-select__control--is-focused,
.filter-search-select__control--menu-is-open {
  border-color: white !important;
}

.filter-search-select__control--menu-is-open {
  box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.5) !important;
}

.filter-search-select__single-value,
.filter-search-select__placeholder,
.filter-search-select__input {
  color: #fff !important;
}

.filter-search-select__indicator-separator {
  display: none;
}

.filter-search-select__control--is-focused,
.filter-search-select__control--is-focused:hover,
.filter-search-select__control--is-focused:focus,
.filter-search-select__control--menu-is-open {
  outline: none !important;
  box-shadow: none !important;
}

.card-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Movie Card */
.movie-card {
  width: 300px;
  height: 322px;
  border-radius: 4px;
  margin-bottom: 20px;
  background-color: #6c6c6c;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.movie-card img {
  width: 300px;
  margin-top: 26px;
}

.movie-card h2 {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  letter-spacing: -0.015em;
  margin: 0px;
}

.year {
  font-size: 16px;
  color: #ffc700;
  font-weight: 700;
}

.subtitle {
  font-size: 14px;
  font-weight: 400;
  color: white;
}

.movie-card-info {
  padding: 10px 15px 0px 15px;
}

@media (min-width: 576px) {
  .filter-search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 536px;
    height: 60px;
    background-color: #6c6c6c;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .card-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .movie-card {
    width: 258px;
    height: 322px;
    margin: 10px;
  }

  .movie-card img {
    width: 258px;
    margin-top: 26px;
  }

  .filter-search-select__control {
    width: 260px;
    height: 50px;
    border-radius: 4px;
    background-color: #6c6c6c !important;
    color: #fff !important;
    margin-left: 20px;
  }
}

@media (min-width: 768px) {
  .filter-search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 688px;
    height: 60px;
    background-color: #6c6c6c;
    margin-bottom: 20px;
    margin-top: 30px;
  }

  .movie-card {
    width: 324px;
    height: 364px;
    margin: 20px;
  }

  .movie-card img {
    width: 324px;
    margin-top: 20px;
  }

  .movie-card-info {
    padding: 14px 20px 0px 20px;
  }

  .movie-card-info h2 {
    font-size: 1.3em;
  }

  .movie-card-info .year {
    font-size: 1.1em !important;
  }

  .movie-card-info .subtitle {
    margin-top: 5px;
    font-size: 1em !important;
  }
}

@media (min-width: 992px) {
  .filter-search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 912px;
    background-color: #6c6c6c;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  .movie-card {
    width: 436px;
    height: 457px;
    margin: 20px;
  }
  .movie-card img {
    width: 436px;
  }

  .movie-card-info {
    padding-top: 23px;
  }
}

@media (min-width: 1200px) {
  .filter-search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1119px;
    height: 80px;
    background-color: #6c6c6c;
    margin-bottom: 26px;
    margin-top: 30px;
  }

  .movie-card {
    width: 258px;
    height: 322px;
    margin: 14px;
  }

  .movie-card img {
    width: 258px;
    margin-top: 20px;
  }

  .pagination-container {
    margin-top: 27px;
    min-width: 1119px;
  }

}
