/* Movie List Page */
.movie-list-page {
  background-color: #525252;
  padding: 10px;
  display: flex;
  justify-content: center;
}

/* Filter Search */
.filter-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 60px;
  background-color: #6c6c6c;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 10px;
}

/* Filter Search Select */
.filter-search-select__clear-indicator,
.filter-search-select__dropdown-indicator {
  color: #ffffff !important;
}

.filter-search-select__control {
  width: 260px;
  height: 50px;
  border-radius: 4px;
  background-color: #6c6c6c !important;
  color: #fff !important;
}

.filter-search-select__control--is-focused,
.filter-search-select__control--menu-is-open {
  border-color: white !important;
}

.filter-search-select__control--menu-is-open {
  box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.5) !important;
}

.filter-search-select__single-value,
.filter-search-select__placeholder,
.filter-search-select__input {
  color: #fff !important;
}

.filter-search-select__indicator-separator {
  display: none;
}

.filter-search-select__control--is-focused,
.filter-search-select__control--is-focused:hover,
.filter-search-select__control--is-focused:focus,
.filter-search-select__control--menu-is-open {
  outline: none !important;
  box-shadow: none !important;
}

/* Movie Card */
.movie-card {
  width: 300px;
  height: 322px;
  border-radius: 4px;
  margin-bottom: 20px;
  background-color: #6c6c6c;
}

.movie-card img {
  width: 300px;
  margin-top: 26px;
}

.movie-card h2 {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  letter-spacing: -0.015em;
  margin: 0px;
}

.year {
  font-size: 16px;
  color: #ffc700;
  font-weight: 700;
}

.subtitle {
  font-size: 16px;
  font-weight: 400;
  color: white;
}

.movie-card-info {
  padding: 10px 15px 0px 15px;
}

@media(min-width: 576px) {

  .movie-list-page {
    background-color: #525252;
    display: flex;
    justify-content: center;
    padding: 0px
  }

  .filter-search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 536px;
    height: 60px;
    background-color: #6c6c6c;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .list-container {
    background-color: #525252;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap; /* Adiciona quebra de linha */
  }

  .movie-card {
    margin: 10px;
    width: 258px;
    height: 322px;
  }

  .movie-card img {
    width: 258px;
    margin-top: 26px;
  }
} 
