.page-container {
    background-color: #525252;
    padding: 40px 513px 718px 40px
}

.movie-list-container h1 {
    margin-bottom: 39px;
    font-size: 48px;
}

.movie-list-container h2 {
    margin-bottom: 27px;
    color: #fff;
    font-weight: 400;
}